@charset "utf-8";
#tabs{
		width: 400px;
		margin: 0 auto;
		background: url('../images/menu.png');
	}
	#tabs #big div{
		width: 398px;
		display: none;
		border:1px solid #ddd;
		float: left;
		/* margin-left: 200px; */
	}
	#tabs #big .show{
		display: block;
	}
	#tabs #big img{
		width: 398px;
		height: 350px;
		display: block;
	}
	#tabs #small img{
		width: 98px;
		height: 80px;
		border:1px solid #000;
		float: left;
		cursor: pointer;
		margin-bottom: 20px;
		margin: 0 auto;
		display: inline-block;
	}
	#tabs #small .active,#tabs #small img:hover{
		border-color: red;
	}